<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
<form (ngSubmit) = "addRecipe(formData)" #formData=ngForm>
  <div class="row">
    <div class="col-sm-5 form-group">
      <label>Recipe Name</label>
      <input type="text" class="form-control" required minlength=5 ngModel name="rname" #rname=ngModel>
      <div *ngIf="rname.invalid && rname.touched">
      <div *ngIf=rname.errors.required>Name Cannot be blank</div>
      <div *ngIf=rname.errors.minlength>Min length of recipe name should be 5</div>
    </div>
    </div>

    <div class="col-sm-5 form-group">
      <label>Recipe Image</label>
      <input type="text" required class="form-control">
    </div>

    <div class="col-sm-5 form-group">
      <label>Email</label>
      <input type="text" required class="form-control" email ngModel #email=ngModel name="email">
      <div *ngIf="email.invalid && email.touched">
        <div *ngIf=email.errors.required>Email Cannot be blank</div>
        <div *ngIf=email.errors.email>Email is invalid</div>
      </div>
    </div>

    <div class="col-sm-5 form-group">
      <label>Location</label>
      <input type="text" required class="form-control" ngModel #location=ngModel name="location">
      <div *ngIf="location.invalid && location.touched">
        <div *ngIf=email.errors.required>Location Cannot be blank</div>
        <div *ngIf=email.errors.email>Location is invalid</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" type="submit" [disabled]="formData.invalid" >Add</button>
    </div>
  </div>
</form>

<button class="btn btn-success" type="button" (click)="loadRecipies()" >Show Recipies</button>

<div>
  <li *ngFor = "let recipe of recipiesFromServerConvertedToArray">
    <ul>Recipe Name : {{recipe.rname}}</ul>
    <ul>Recipe Email : {{recipe.email}}</ul>
    <ul>Recipe Location : {{recipe.location}}</ul>
</li>

<div *ngFor="let recipe of recipiesFromServer|keyvalue"> <!-- Iterating map -->
  <span>{{recipe.value.rname}}</span>
</div>

</div>
